.brand_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 244, 247);
    border-radius: 10px;
    width: 167px;
    height: 92px;
}

.brand_img img {
    width: 120px;
    height: 45px;
    object-fit: contain;
    mix-blend-mode: multiply;
}