@font-face {
  font-family: Ubuntu-medium;
  src: url("/src/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: Ubuntu-bold;
  src: url(/src/fonts/Ubuntu-Bold.ttf);
}

.marking {
  max-width: 1500px;
  margin: 0 auto;
  margin-bottom: 35px;
}

.container_info {
  display: flex;
  gap: 20px;
}

.container_info_auth {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 482px;
  height: 90px;
  border-radius: 5px;
  background-color: #ffefb7;
}

.text_auth {
  display: flex;
  gap: 8px;
  flex-direction: column;
  padding: 0px 12px 0px 25px;
}

.reg_text_info {
  display: flex;
  align-items: center;
  gap: 2px;
}

.bonus_container {
  display: flex;
  margin-left: 26px;
  align-items: end;
  height: 100%;
}

.text_bold {
  font-family: Ubuntu-medium, Ubuntu, sans-serif;
  font-size: 19px;
}

.text {
  font-size: 14px;
}

.container_info_darkstore {
  position: relative;
  width: 100%;
  max-width: 985px;
  border-radius: 5px;
  overflow: hidden;
  background-color: #8424ff;
  background-image: url("/src/components/Section/images/darkstore-banner/background.png");
  background-size: auto 100%;
}

.banner_padding {
  display: flex;
  padding-inline: 24px;
}

.darkStore_container_text {
  display: flex;
  height: 90px;
  width: 365px;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.darkStore_container_text span {
  font-family: Ubuntu-bold, Ubuntu, sans-serif;
  color: white;
}

.darkStore_main_text {
  display: flex;
}

.darkStore_main_text span {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.darkStore_main_text span::before {
  display: flex;
  content: "";
  margin-right: 6px;
  width: 19px;
  height: 19px;
  background-image: url("/src/components/Section/images/darkstore-banner/darkStore-logo.svg");
  background-repeat: no-repeat;
  background-size: 19px;
}

.darkStore_text {
  font-size: 15.5px;
}

.img_time {
  position: absolute;
  top: -25px;
  left: 250px;
}

.img_animation {
  width: 420px;
  height: 90px;
}

.img_animation img {
  position: absolute;
  top: -25px;
}

.first_animation {
  left: 400px;
  animation-name: animation_top;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.second_animation {
  left: 540px;
  animation-name: animation_buttom;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

.third_animation {
  left: 680px;
  animation-name: animation_top;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 4s;
}

@keyframes animation_top {
  0% {
    transform: translateY(9px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(9px);
  }
}

@keyframes animation_buttom {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(9px);
  }
  100% {
    transform: translateY(0px);
  }
}

.darkStore_link_container {
  display: flex;
  align-items: center;
}

.darkStore_link_container span {
    font-family: Ubuntu-medium, Ubuntu, sans-serif;
    background-color: white;
    padding: 5px 29px 10px 29px;
    margin-left: 20px;
    border-radius: 132px;
}
