.container_basket {
  display: flex;
  align-items: center;
}

.basket {
  position: relative;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 19px;
}

.basket::after {
  display: flex;
  content: "";
  cursor: pointer;
  width: 25px;
  height: 29px;
  background-image: url("../../../images/nav-images/main-menu/basket.svg");
  background-position: 0px;
  background-repeat: no-repeat;
  background-size: 26px;
}

.quantity_goods {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../../../images/nav-images/main-menu/basket-img/round.svg");
  font-size: 8px;
  font-weight: bold;
  color: white;
  top: 1px;
  right: -4px;
}
