.marking {
  display: flex;
  max-width: 1284px;
  margin: 0 auto;
}

.container_cart {
  padding-top: 25px;
  height: 800px;
  width: 879px;
}

.container_sticky {
    width: 360px;
}

.container_cart_text {
  margin-bottom: 22px;
  font-size: 37px;
  font-weight: bold;
  line-height: 39px;
}

.container_checkbox_all {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.delete_selected {
  user-select: none;
  cursor: pointer;
  font-size: 14px;
  color: rgb(129, 129, 129);
}

.container_checkbox_quantity {
  margin-bottom: 38px;
}

.label_all {
  display: flex;
  cursor: pointer;
  font-size: 14px;
  user-select: none;
}

.select_all {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.checkbox_custom {
  display: flex;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  align-items: center;
  margin-right: 7px
}

.checkbox_custom::before {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(0);

}

.select_all:checked + .checkbox_custom::before {
    transform: scale(1);
}

.container_item {
  display: flex;

}

.select_item {
  height: 0;
  width: 0;
  opacity: 0;
  position: absolute;
}

.checkbox_item {
  display: flex;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  align-items: center;
  margin-right: 7px
}

.checkbox_item::before {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../../images/checkbox.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(0);
}

.select_item:checked + .checkbox_item::before {
  transform: scale(1);
}

.checkbox_goods {
  margin-right: 8px;
}

.container_goods {
  padding-top: 17px;
  padding-bottom: 13px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.container_img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 19px;
  margin-bottom: 8px;
  width: 120px;
  height: 100px;
}

.container_img img {
  object-fit: contain;
  width: 100%;
}

.container_name {
  margin-bottom: 68px;
}

.container_name span {
  cursor: pointer;
  font-size: 14px;
}

.container_name span:hover {
  color: red;
}


.container_tool {
  display: flex;
  align-items: center;
  gap: 20px;
}

.favorite_btn {
  position: relative;
  cursor: pointer;
}

.favorite_btn::before {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../../images/favorite.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px;
}

.favorite_btn_active {
  position: relative;
  cursor: pointer;
}

.favorite_btn_active::before {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../../images/favorite-active.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 15px;
}

.favorite_btn:hover::before {
  background-image: url("../../images/favorite-active.svg");
}

.favorite_text {
  position: absolute;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  line-height: 18px;
  color: white;
  transform: translate(-67px,-27px);
  background-color: black;
  border-radius: 4px;
  width: 150px;
  height: 27px;
  transition: opacity 0.5s;
}


.trash_btn {
  cursor: pointer;
  display: flex;
  font-size: 14px;
  gap: 10px;
}

.trash_btn::before {
  display: flex;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../../images/trash.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
}

.trash_btn:hover {
  color: red;
}

.trash_btn:hover::before {
  background-image: url("../../images/trash-active.svg");
}

.container_info_item {
  display: flex;
  width: 576px;
}

.place_order_info {
  display: flex;
  width: 303px;
  justify-content: space-between;
}

.container_quantity {
  margin-left: 25px;
}

.container_calc {
  display: flex;
  align-items: center;
  border: 1px solid #e9e9e9;
  padding: 9px 12px 8px 12px;
  border-radius: 7px;
  margin-right: 60px;
  gap: 17px;
}

.minus {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("../../images/minus.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.minus:hover {
  background-image: url("../../images/minus-active.svg");
}

.plus {
  width: 16px;
  height: 16px;
  cursor: pointer;
  background-image: url("../../images/plus.svg");
  background-repeat: no-repeat;
  background-position: 50%;
}

.plus:hover {
  background-image: url("../../images/plus-active.svg");
}

.container_price span {
  display: flex;
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
}

.container_price span::after {
  display: flex;
  content: "";
  width: 16px;
  height: 20px;
  background-image: url("../../images/currency.png");
  background-repeat: no-repeat;
  background-position: 0px 3px;
  background-size: 16px;
}

.container_title span {
  font-size: 37px;
  font-weight: bold;
  line-height: 39px;
}

.container_title {
    margin-bottom: 18px;
}

.contact_info input {
    border: 1px solid white;
    outline: none;
    box-shadow: none;
    line-height: 16px;
    font-size: 14px;
    padding: 8.5px 0;
}

.contact_info label {
  display: flex;
  align-items: center;
  border: 1px solid blue;
  border-radius: 4px;
  padding-inline: 14px;
  width: 100%;
}